.homepage img
{
    margin-top:3%; 
}

/*the below style for header.js */
#topnav
{
    padding-bottom: 3% !important;
}
#topnav ul li
{
   list-style-type: none; 
}
#topnav .navbar-brand
{
   font-size: 29px;
   padding-top:26px;
}
.loginform
{
   margin-left: 56%;
}

.loglabel
{
   display: block !important;
}
.loglabel #name,#pwd
{
   display: inline !important;
}
.loglabel #submit
{
   margin-top:2px !important;
   display:block;
}
.loginform .form-group 
{
   margin-right:4px;
   margin-top:5px;
}
#nameerror,#passerror
{
   max-width: 200px;
   min-width:150px;
   font-size: 13px;
   display: block;
   position: absolute;
}
#submit
{
   margin-top:23px;
}
#brand 
{
   cursor: pointer;
}
#editprofile 
{
  cursor: pointer;
}
/*end of the header.js */
/*registration from styles */
.err{
  color:red; 
}
/* registration form styles end*/
/*home page styles*/
.nav li #logout
{
   padding-right: 30px !important;
   cursor: pointer;
}
.homecontainer
{
  margin-top:7%;
}
#countvalue 
{
    padding-left: 78px;
    position: absolute;
}
#countvalue h4
{
   cursor: pointer;
   color: black !important; 
}
#countvalue a:hover 
{
   text-decoration: none;
}
/*home page styles end */
/*modal page style start*/
.pattributes li
{
   display: inline-flex !important;
   list-style-type: none !important; 
   padding-left: 2px; 
}
#plyrsgrid .panel-content #name
{
   color:green;
}
#plyrsgrid .panel-content #gender
{
   color:red;
}
#plyrsgrid .panel-content #age
{
   color:#428ff4;
}
#plyrsgrid .panel-footer
{ 
   max-height:40px !important;
   min-height:38px !important;
}
#accordion #panel
{
   cursor:pointer !important;
} 
/*displaydetails page style end*/
/*edit form style start*/
 #viewprofile
 {
   margin-top: -7px;
 }
/*edit form style end */


